1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
#a)Pay attention to indentation and to the order of the statement. Once one of them is TRUE the followin ones are not evaluated
for i in range (1,101):
    if ((i%3 == 0) & (i%5 == 0)):
        print("Mickey Mouse")
    elif (i%3 == 0):
        print("Mickey")
    elif (i%5 == 0):
        print("Mouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap(x,y):
    x,y = y,x
    print(x,y)
    

a = input("Value of the first variable: ")
b = input("Value of the second variable: ")

swap(a,b)

Value of the first variable:  2
Value of the second variable:  3

3 2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
#We need to import the math library to get acces to the sqrt built-in function
import math

#define the requested function
def eu_dist(u,v):
    d = math.sqrt( (u[0]-v[0])**2 + (u[1]-v[1])**2 )
    return d

#A cuople of points for the test
a = [3,0]
b = [0,4]

#call the function
eu_dist(a,b)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

#remove from the string the capital letters and the white spaces
s = s.lower()
s = s.replace( " ", "" )

#create a list to memorize the characters ane their number of recurrences
s_char = []

#the function first check if the character is just in the result list and if it's not it count it and add it to the s_char list
for i in range(0, len(s)):
    if s[i] not in s_char: 
        s_char.append(s[i])
        s_char.append(s.count(s[i]))
    else:
        continue

print(s_char)

['w', 2, 'r', 17, 'i', 14, 't', 19, 'e', 22, 'a', 7, 'p', 8, 'o', 13, 'g', 1, 'm', 12, 'h', 9, 'n', 10, 's', 9, 'u', 9, 'b', 5, 'f', 10, '1', 2, '0', 2, '.', 2, 'l', 6, 'c', 3, 'k', 2, 'y', 2, 'd', 3, 'v', 2]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
#something similar to the previous one

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

r = []

for i in range (0, len(l)):
    if l[i] not in r: 
        r.append(l[i])
        r.append(l.count(l[i]))
    else:
        continue

print(r)

[36, 3, 45, 3, 58, 1, 74, 1, 96, 1, 64, 1, 31, 2, 10, 1, 24, 1, 19, 1, 33, 1, 86, 1, 99, 1, 18, 1, 63, 2, 70, 3, 85, 3, 47, 1, 56, 2, 42, 2, 84, 4, 88, 1, 55, 1, 20, 3, 54, 1, 8, 1, 51, 3, 79, 1, 81, 1, 57, 1, 37, 1, 91, 3, 66, 2, 9, 1, 89, 2, 50, 2, 95, 1, 90, 1, 98, 1, 39, 1, 16, 1, 82, 1, 92, 1, 41, 1, 30, 1, 34, 2, 94, 1, 5, 1, 72, 1, 87, 1, 75, 1, 53, 1]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(x,y = 2):
    s = x**y
    return s

def cube(x,y = 3):
    c = x**y
    return c

def sixth_power(x):
    p = x*square(x)*cube(x)
    return p

v = float(input("Insert the value to calculate the square, the cube and the 6th power: "))

print(square(v))
print(cube(v))
print(sixth_power(v))

Insert the value to calculate the square, the cube and the 6th power:  3

9.0
27.0
729.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [32]:
#a)
c = []

for i in range (0, 10):
    c.append(cube(i))

comp = [cube(i) for i in range (0, 10)]

print(c)
print(comp)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [7]:
def pit(x,y):
    return math.sqrt(x**2+y**2)


pit_trip = [[ pit(a,b) for a in range (1,100)] for b in range (1,100) if pit(a,b).is_integer()]

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [8]:

def normalization(t):
    
    t_max = max(t)
    t_list = list(t)
    
    for i in range(0, len(t_list)):
        t_list[i] = t_list[i]/t_max
            
    return tuple(t_list)

#example
a = (2,6,8,90,3,56,74)
normalization(a)

(0.022222222222222223,
 0.06666666666666667,
 0.08888888888888889,
 1.0,
 0.03333333333333333,
 0.6222222222222222,
 0.8222222222222222)