1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [ ]:
for i in range(1, 101):
    if (i % 3 != 0) and (i % 5 != 0): print(i)
    else:
        str = ""
        if i % 3 == 0: str += "Mickey"
        if i % 5 == 0: str += "Mouse"
        print(str)

In [10]:
l = []
for i in range(1, 101):
    if (i % 3 != 0) and (i % 5 != 0): l.append(i)
    else:
        str = ""
        if i % 3 == 0: str += "Donald"
        if i % 5 == 0: str += "Duck"
        l.append(str)
t = tuple(l)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [13]:

#with temporary variable
def swap1(x, y):
    temp1 = x
    x = y
    y = temp1
    return x,y

x = "ics"
y = "uai"
print(swap1(x, y))

('uai', 'ics')

In [14]:
#without temporary variable
def swap2(x, y):
    return y, x

print(swap2("alpha", "omega"))

('omega', 'alpha')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [16]:
import math as mt

def eucl_dist(u, v):
    return mt.sqrt( (u[0] - v[0])**2 + (u[1] - v[1])**2 )

u = (3, 0)
v = (0, 4)
print(eucl_dist(u, v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [27]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

alphabet = ("a", "b", "c", "d", "e", "f", "g", "w")
for c in alphabet:
    print(c, " occurs ", s.count(c) + s.count(c.capitalize()), " times")

a  occurs  7  times
b  occurs  5  times
c  occurs  3  times
d  occurs  3  times
e  occurs  22  times
f  occurs  10  times
g  occurs  1  times
w  occurs  2  times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [30]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def my_func(list):
    new_list = []
    c = 0
    for n in list:
        if list.count(n) == 1:
            new_list.append(n)
            c += 1
    new_list.sort()
    print(c, new_list)
my_func(l)

37 [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [31]:
def square(x): return x**2
def cube(x): return x**3
def six(x): return cube(square(x))

print(six(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [32]:
#for loop

l = []
for n in range(0, 11):
    l.append(n**3)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [33]:
#list comprehension

l = [x**3 for x in range(1, 11)]
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [42]:
import math as mt
triple = []
for n in range(1, 101):
    for m in range(1, 101):
        if (mt.sqrt(n**2 + m**2) < 100) and (mt.sqrt(n**2 + m**2).is_integer()) and (n > m):
            triple.append((m, n, mt.sqrt(m**2 + n**2)))
triple

[(3, 4, 5.0),
 (6, 8, 10.0),
 (5, 12, 13.0),
 (9, 12, 15.0),
 (8, 15, 17.0),
 (12, 16, 20.0),
 (15, 20, 25.0),
 (20, 21, 29.0),
 (7, 24, 25.0),
 (10, 24, 26.0),
 (18, 24, 30.0),
 (21, 28, 35.0),
 (16, 30, 34.0),
 (24, 32, 40.0),
 (12, 35, 37.0),
 (15, 36, 39.0),
 (27, 36, 45.0),
 (9, 40, 41.0),
 (30, 40, 50.0),
 (40, 42, 58.0),
 (33, 44, 55.0),
 (24, 45, 51.0),
 (28, 45, 53.0),
 (14, 48, 50.0),
 (20, 48, 52.0),
 (36, 48, 60.0),
 (39, 52, 65.0),
 (48, 55, 73.0),
 (33, 56, 65.0),
 (42, 56, 70.0),
 (11, 60, 61.0),
 (25, 60, 65.0),
 (32, 60, 68.0),
 (45, 60, 75.0),
 (16, 63, 65.0),
 (60, 63, 87.0),
 (48, 64, 80.0),
 (51, 68, 85.0),
 (24, 70, 74.0),
 (21, 72, 75.0),
 (30, 72, 78.0),
 (54, 72, 90.0),
 (65, 72, 97.0),
 (40, 75, 85.0),
 (57, 76, 95.0),
 (36, 77, 85.0),
 (18, 80, 82.0),
 (39, 80, 89.0),
 (13, 84, 85.0),
 (35, 84, 91.0)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [34]:
import math as mt

def norm(t): 
    return mt.sqrt(t[0]**2 + t[1]**2 + t[2]**2)
t = (1, 1, 1)
print(norm(t))

1.7320508075688772